body {
    background-color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form {
    text-align: center;
}
label {
    display: block;
    margin-top: 28px;
    font-weight: bold;

}
input {
    width: 15%;
    border: solid 1px;
    border-radius: 5px;
}
input:hover {
    background-color: whitesmoke;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
button {
    background-color: white;
    display: block;
    border-radius: 5px;
    border: solid 1px;
    margin-top: 10px;
    width: 15.5%;
}
button:hover {
    background-color: whitesmoke;
}