body {
    background-color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form {
    text-align: center;
}
label {
    display: block;
    margin-top: 28px;
    font-weight: bold;

}
input {
    width: 15%;
    height: 24px;
    border: solid 1px;
    border-radius: 5px;
}
input:hover {
    background-color: whitesmoke;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
button {
    background-color: white;
    display: block;
    border-radius: 5px;
    border: solid 1px;
    margin-top: 10px;
    width: 15.5%;
    height: 24px;
}
button:hover {
    background-color: whitesmoke;
}
#formIMC {
    background-color: #F6F7F9;;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}
/*#result {
    margin-top: 24px;
    padding: 16px;
    background: #F8F9FA;
    border-left: 4px solid #007BFF; 
    display: none; 
} */